@model List<DocumentoModel>
@{
    ViewData["Title"] = "Word no navegador";
}

<div class="container">

    <h1 class="d-flex align-content-center justify-content-center">Arquivos Word</h1>

    <div class="d-flex align-content-center justify-content-center">
        <a class="d-flex justify-content-center align-items-center" 
          style="width:150px; height:200px; background-color:dimgray; margin-bottom:70px; text-decoration:none; color:white;font-size:120px"
           asp-controller="Home" asp-action="Cadastrar">
            +
        </a>
    </div>
    <hr />
    <div class="row"> 
        <h1 class="d-flex align-content-center justify-content-center">Arquivos salvos</h1>

        @foreach(var documento in Model)
        {
            <div class="col-2">
                <div>
                    <span> <span style="font-weight:bold">Criação: </span> @documento.dataCriacao.ToString("dd/MM/yyyy")</span>
                    <a  class="d-flex justify-content-center align-items-center"
                       style="width:150px; height:200px; background-color:dimgray; margin-bottom:70px; text-decoration:none; color:white;font-size:120px"
                       asp-action="Editar" asp-route-id="@documento.ID"
                    >
                        <i class="bi bi-file-earmark"></i>
                        </a>
                    <span> <span style="font-weight:bold">Atualização: </span> @documento.DataAtualizacao.ToString("dd/MM/yyyy")</span>
                </div>
            </div>
        }
    </div>
</div>